<h1>This is the team behind Pint</h1>
<p>We are working on our One month Rails Pinteresting app!</p>
<%= image_tag "app/assets/images/Bild048.jpg" %>
<p2> My name is Markus and I am the developer behind this site I really love woking in ruby <p2>